@(title: String)(content: Seq[Html])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
        <script src="@routes.Assets.at("javascripts/persistence.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>
